<a href="https://colab.research.google.com/github/AmpongJkevin2/AmpongJkevin2/blob/main/Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For loop

In [39]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for i in week:
  print(i)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [42]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for i in week:
  print(i)
  if i == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

# Range Function

In [7]:
for x in range(1,6,2):
  print(x)

1
3
5

# Nested Loop

In [8]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]


for x in adjective:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# While loop

In [ ]:
i = 1
while i < 6:
  print(i)

# Break Statement

In [12]:
i = 1
while i < 6:
  print(i)
  i += 1
  if i == 3:
    break

1
2

# Continue Statement

In [27]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  elif i == 6:
    continue
  print(i)

1
2
4
5

# Else Statement

In [28]:
i = 1

while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# Application

In [37]:
i = 0
while i <= 10:
  print("Hello", i)
  i += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

# Practical Test

In [41]:
for i in range(10):
  if i < 3:
    continue
  elif i < 10:
    print(i)

3
4
5
6
7
8
9